*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: relative;
}
#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
img{
    height: 65px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
}
#nav-part3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
}
#nav h3{
    text-transform: uppercase;
    font-weight: 500;
}
#nav h4{
    text-transform: uppercase;
}
#nav button{
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

#main h1{
    font-size: 110px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main h1 span{
    background-color: brown;
    font-size: 25px;
    border-radius: 50px;
    padding: 10px 40px;
    margin: 0px 20px;
    border: none;
}
#main h1:nth-child(2){
    margin-top: 60px;
}
#main #left-img{
    height: 250px;
    position: absolute;
    top: 14%;
    left: 7%;
    border-radius: 30px;
}
#main #right-img{
    height: 250px;
    position: absolute;
    bottom: 7%;
    right: 7%;
    border-radius: 30px;
}
h5{
    font-family: montserrat;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 20px;
    font-weight: 500;
}